{% extends "./base.html" %}


{% block title %} 
  <title>Сладкие палочки Дзен</title>


{% endblock %} 

{% block content %} 
<h1>Сладкие палочки Дзен</h1>
<div class="row"  >
  
<div class="column" >
    
    <h2 >Рецепт </h2>
    <hr>
<table>
    <colgroup>
      <col span="2" style="background:Khaki; "><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
      <col style="background-color:LightCyan; "><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
    </colgroup>
    <tr>
      <th ></th>
      <th >Наименование</th>
      <th >Вес (гр)</th>
    </tr>
    <tr>
      <tr><td style = "text-align: center;
        background-color: white; 
        font-weight:bold" >Корж</td></tr>
    </tr>
    <tr>
      
      <td>1</td>
      <td>Кокосовая мука</td>
      <td>94</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Миндальная мука</td>
      <td>50</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Кокосовый сироп</td>
        <td>108</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Масло кокосовое (рафинированное)</td>
        <td>113</td>
      </tr>
      <tr><td style="background-color: white; font-weight:bold; text-align: center;">Карамель</td></tr>
      <tr>
        <td>5</td>
        <td>Кешью паста</td>
        <td>230</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Кокосовый сироп</td>
        <td>200</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Кокосовое масло (рафинированное)</td>
        <td>119</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Ваниль</td>
        <td>8 капель</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Соль</td>
        <td>1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Лукума</td>
        <td>5</td>
      </tr>
    </tr>
    <tr><td style="background-color: white; font-weight:bold; text-align: center;">Шоколад</td></tr>
    <tr>
      <td>11</td>
      <td>Какао тертое</td>
      <td>112</td>
    </tr>
    <tr>
      <td>12</td>
      <td style ="text-align: center";>Какао масло</td>
      <td>112</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Кокосовое молоко сухое</td>
      <td>105</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Кокосовая манна</td>
      <td>30</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Кокосовый сироп</td>
      <td>90</td>
    </tr>
    
  </table>
  
 
  </div>
  <div class="column"  >

    <h2 >Описание</h2> 
       <hr>
    <p>Тестовый текст для описания рецепта
        Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
    </p>

</div> 
<!-- <div >
  <img src="https://www.freepik.com/premium-photo/raw-vegan-cake-with-fruit-seeds-decorated-with-flowers_4554626.htm" class="" alt="Cinque Terre" width="304" height="236"> 
  <img class="img" src="static/img/photo_2022-09-01 20.59.12.jpeg" alt="photo">
</div>
   -->
</div>


{% endblock %} 



