{% extends "./base.html" %}


{% block title %} 
  <title>Test sweet recipe</title>


{% endblock %} 

{% block content %} 
<h1>Тартатен</h1>
<div class="row"  >
  
<div class="column" >
    
    <h2 >Рецепт </h2>
    <hr>
<table>
    <colgroup>
      <col span="2" style="background:Khaki"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
      <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
    </colgroup>
    <tr>
      <th>№</th>
      <th>Наименование</th>
      <th>Вес (гр)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Какао порошок</td>
      <td>37</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Какао масло</td>
      <td>44</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Кокосовый сахар</td>
        <td>107</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Миндальная мука</td>
        <td>80</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Арахисовая паста</td>
        <td>73</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Арахис</td>
        <td>51</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Кокосовая мука</td>
        <td>59</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Кокосовый сироп</td>
        <td>56</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Арахисовая паста</td>
        <td>50</td>
      </tr>
  </table>
  
 
  </div>
  <div class="column"  >

    <h2 >Описание</h2> 
       <hr>
    <p>Тестовый текст для описания рецепта
        Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
    </p>

</div> 
<!-- <div >
  <img src="https://www.freepik.com/premium-photo/raw-vegan-cake-with-fruit-seeds-decorated-with-flowers_4554626.htm" class="" alt="Cinque Terre" width="304" height="236"> 
  <img class="img" src="static/img/photo_2022-09-01 20.59.12.jpeg" alt="photo">
</div>
   -->
</div>


{% endblock %} 



