{% extends "/base.html" %}


{% block title %} 
  <title>Index</title>
  
  

{% endblock %} 

{% block content %} 
<div class="container">
<h1>Привет, человек 😀 😍 💗 </h1>

<div x-data='{ 
  "id": 2,
  "title": "Баунти",
  "description": null,
  "ingredients": [
    {
      "id": 1,
      "title": "Какао Порошок",
      "weight": 190
    },
    {
      "id": 2,
      "title": "Какао Масло",
      "weight": 79
    }
   
  ]
}'>
<div x-text="title"></div>

  <template x-for="ingredient in ingredients">
    <div>
    <div x-text="ingredient.title"></div>
    <div x-text="ingredient.weight"></div>
  </div>
  </template>

</div>



<div x-data="{recipe}">
  <h1 x-text="recipe.title"></h1>
  
  <div class="row">
  
    <div class="column">
  
      <h2>Рецепт </h2>
      <hr>
      <table>
        <colgroup>
          <col span="2" style="background:Khaki">
          <!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
          <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
        </colgroup>
        <tr>
          <th>Наименование</th>
          <th>Вес (гр)</th>
        </tr>
        
          
          <template x-for="for ingredient in db_recipe">
            
          <tr>
         
          <td x-text="ingredient.title"></td>
          <td x-text = "ingredien.weight"></td>
        </tr>
         
          </template>
         
          <tr>
  
  
          </tr>
      </table>
  
  
    </div>
    <div class="column">
  
      <h2>Описание</h2>
      <hr>
      <p>Тестовый текст для описания рецепта
        Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
        Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
        текста. Описание рецепта.
      </p>
  
    </div>
  
  </div>
  
  </div>

<p>{{id}}</p>

{% if message %}
<div class="alert alert-success allert-dissmisable fade show" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" data-bs-target="#my-alert" data-bs-dismiss="alert"></button>
     {{message}}
</div>
</div>

{% include "template_recipe.html" %}
{% endif %}


{% endblock %} 



