<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Dobraw</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/docs">Docs</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Testing
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/register">Register</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vegan
            </a>
            
            <ul class="dropdown-menu">
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Салаты
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Унаги с крем сыром</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Греческий</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Цезарь</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Мимоза</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Винегрет</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Оливье</a>
                  </li>
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Пиццы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Песто</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Маргарита</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Фалафель-пицца</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Радуга</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Голубые</a>
                    
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Питы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Барселона</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Лиссабон</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Гонконг</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Осло</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Стамбул</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Raw
            </a>
            
            <ul class="dropdown-menu">
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Буррито
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Пхали</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Томато</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Авокадо</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Свекольный Пхали</a>
                  </li>
                  
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Суши
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Миндальные</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Фиолетовые с икрой</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Свекольные</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Горошковые</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Голубые</a>
                    
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Супы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Борщ</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Мисо суп</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Свекольный крем-суп</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Окрошка по-литовски</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Там-ням</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sweets
            </a>
            
            <ul class="dropdown-menu">
              <!-- <li><button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </button>
              <ul class="dropdown-menu dropdown-submenu"role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <li>
                  <a class="dropdown-item" href="/sweets/bakery/choco_cookie">Cookie choko</a>
                </li>
              </ul>
            </li> -->
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bakery
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/choco_cookie">Cookie choko</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/coconut_keks">Кекс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/dzen">Палочка Дзен</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/evas_cookie">Печенье Eva's</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/opera">Опера</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/shokobomba">Шокобомба</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/tartaten">Тартатен</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/tiramisu">Тирамису</a>
                  </li>
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Конфеты
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Сникерс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Арахисовая</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Баунти</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Карамелька</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Кофейная</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Трюфель</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Космос</a>
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Мороженое
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Пломбир</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Шоколадное</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Клубничное</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Сникерс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vegan_raw/example_vegan_raw">Матча</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
      
    </div>
    
  </nav>