<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Dobraw</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/docs">Docs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Testing
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/register">Register</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vegan
            </a>
            
            <ul class="dropdown-menu">
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Салаты
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Унаги с крем сыром</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Греческий</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Цезарь</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Мимоза</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Винегрет</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Оливье</a>
                  </li>
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Пиццы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Песто</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Маргарита</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Фалафель-пицца</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Радуга</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Голубые</a>
                    
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Питы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Барселона</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Лиссабон</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Гонконг</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Осло</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Стамбул</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Raw
            </a>
            
            <ul class="dropdown-menu">
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Буррито
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Пхали</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Томато</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Авокадо</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Свекольный Пхали</a>
                  </li>
                  
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Суши
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Миндальные</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Фиолетовые с икрой</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Свекольные</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Горошковые</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Голубые</a>
                    
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Супы
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Борщ</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Мисо суп</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Свекольный крем-суп</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Окрошка по-литовски</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Там-ням</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sweets
            </a>
            
            <ul class="dropdown-menu">
              <!-- <li><button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </button>
              <ul class="dropdown-menu dropdown-submenu"role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <li>
                  <a class="dropdown-item" href="/sweets/bakery/choco_cookie">Cookie choko</a>
                </li>
              </ul>
            </li> -->
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bakery
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Cookie choko</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Кекс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/sweets/bakery/dzen">Палочка Дзен</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Печенье Eva's</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Опера</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Шокобомба</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Тартатен</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Тирамису</a>
                  </li>
                </ul>
              </li>



              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Конфеты
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipes/3">Сникерс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes/1">Арахисовая</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes/2">Баунти</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes">Карамелька</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes/">Кофейная</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes/5">Трюфель</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipes/4">Космос</a>
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a id="Demo" class="dropdown-item dropdown-toggle" onclick="myFucntion()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Мороженое
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="/recipe">Пломбир</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Шоколадное</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Клубничное</a>
                    
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Сникерс</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/recipe">Матча</a>
                  </li>
                  
                </ul>
              
            </ul>
          </li>
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
      
    </div>
    
  </nav>