
<div x-data="{db_recipe}">
<h1>{{recipe.title}}</h1>

<div class="row">

  <div class="column">

    <h2>Рецепт </h2>
    <hr>
    <table>
      <colgroup>
        <col span="2" style="background:Khaki">
        <!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
        <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
      </colgroup>
      <tr>
        <th>Наименование</th>
        <th>Вес (гр)</th>
      </tr>
      
        <!-- {%for ingredient in recipe.ingredients%} -->
        <template x-for="for ingredient in db_recipes">
          
        <tr>
       
        <td x-text="ingredient.title">{{ingredient.ingredient_title}}</td>
        <td x-text = "ingredien.weight">{{ingredient.weight}}</td>
      </tr>
        <!-- {%endfor%} -->
        </template>
       
        <tr>


        </tr>
    </table>


  </div>
  <div class="column">

    <h2>Описание</h2>
    <hr>
    <p>Тестовый текст для описания рецепта
      Много текста. Описание рецепта.Тестовый текст для описания рецепта Много текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
      Тестовый текст для описания рецепта Много текста. Описание рецепта.Тестовый текст для описания рецепта Много
      текста. Описание рецепта.
    </p>

  </div>

</div>

</div>